*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.50%;
}

/*ESTO DE ACA ARRIBA TIENE QUE ESTAR EN TODO CSS !!!!!*/





nav{
    font-size: 1.2rem;
}
nav li{
    background-color: aqua ;
    height: 5rem;
    margin: 3rem;
    padding: 1rem;
}

nav .li1{
    font-size: 2rem;
}
nav .li2{
    font-size: 2.5rem;
}