body {
    margin: 0;
    margin-top: 50;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

body .logo_texto img{
    display: block;
    justify-content: center;
    width: 180px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 10px;
}

body .logo_texto {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


body .planet_and_languages img{
    width: 180px;
    align-items: center;
    vertical-align: middle;
    padding: 20px;
    float: middle;
}
.es {
    font-size: 18px;
}









/*
#fondo {
    width: auto;
    height: 350px;
    background-image: url(iso.jpg);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center;
}
#text{
    display: flexbox;
    text-align: center;
}
body .es {

    vertical-align: bottom ;
    font-size: 24px;

}
*/



